<main id="addquestionID">
    <h1>Edit a Question</h1>
{{#if errorMessage}}
<p class="error-message">
    {{ errorMessage }}
</p>
{{/if}}
    <form id="formId" class='addform' action="/editquestion/{{singleQuestion._id}}" method="post">
        <label>Question:</label>
        <input name="question"  placeholder="Does teruel exist?" value="{{singleQuestion.question}}">

        <label>Correct Answer</label>
        <input name="correct_answer" placeholder="Nooo" value="{{singleQuestion.correct_answer}}">


        <label>Incorrect Answer</label>
        <input name="incorrectAnswer1" placeholder="Maybe" value="{{singleQuestion.incorrect_answers.[0]}}">


        <label>incorrect Answer</label>
        <input name="incorrectAnswer2" placeholder="You mad bro?" value="{{singleQuestion.incorrect_answers.[1]}}">


        <label>incorrect Answer</label>
        <input name="incorrectAnswer3" placeholder="Definetely yes" value="{{singleQuestion.incorrect_answers.[2]}}">

        
        <button id="boton" onclick="play()">Submit </button>
    </form>
    <button class="deletebttn">
            <a href="/deletequestion/{{singleQuestion._id}}" class="enlace" onclick="play()">
        Delete question
            </a>
    </button>
    {{#if message}}
  <p class="error-message">
    {{ message }}
  </p>
{{/if}}
</main>