


<main id="letsPlayID">

        {{#if currentPregunta}}
            <h1 id="preguntaID">{{{currentPregunta}}}</h1>
            <div id="tablaPreguntasID">

                <div id="p1" style="display: none;">
                <p>{{{currentRespuesta1}}}</p>
                 </div> 
                 <div id="p2" style="display: none;">
                 <p >{{{currentRespuesta2}}}</p>
                 </div>
                 <div id="p3" style="display: none;">
                 <p >{{{currentRespuesta3}}}</p>
                 </div>
                 <div id="p4" style="display: none;">
                 <p >{{{currentRespuesta4}}}</p>
                </div>
            </div>
            <div id="tablaPreguntasIDafter">

            </div>
            
        {{/if}}


        <h1 id="resultadoID" ></h1>

        <div id="nextWinID" >
        <form action="/letsplay" method="post">
            <input id="inputValueID" name="result" value="win">
            <button >Siguiente pregunta!</button>
        </form>
        </div>

        <div id="nextLostID" >
            <form action="/letsplay" method="post">
            <input name="result" value="lost">
            <button >Siguiente pregunta!</button>
            </form>
        </div>

    {{!-- <a href="/">atras</a> --}}
</main>


