

  <audio id="audioWin" src="images\mario-coin-sound.mp3"></audio>
  <audio id="audioLose" src="images\smb_bowserfalls.wav"></audio>

<main id="letsPlayID" class="snip1217">

        {{#if currentPregunta}}
            <h1 id="preguntaID">{{{currentPregunta}}}</h1>
            <div id="tablaPreguntasID">

                <div id="p1" style="display: none;" onclick="audioWin.play()">
                <p>{{{currentRespuesta1}}}</p>
                </div>
                 </div> 
                 <div id="p2" style="display: none;" onclick="audioLose.play()">
                 <p >{{{currentRespuesta2}}}</p>
                 </div>
                 <div id="p3" style="display: none;" onclick="audioLose.play()">
                 <p >{{{currentRespuesta3}}}</p>
                 </div>
                 <div id="p4" style="display: none;" onclick="audioLose.play()">
                 <p >{{{currentRespuesta4}}}</p>
                </div>
            </div>
            <div id="tablaPreguntasIDafter">

            </div>
            
        {{/if}}


        <h1 id="resultadoID" ></h1>

        <div id="nextWinID" >
        <form action="/customplay" method="post">
            <input id="inputValueID" name="result" value="win" style="display: none;">
            <button onclick="play()" >Next!</button>
        </form>
        </div>

        <div id="nextLostID">
            <form action="/customplay" method="post">
            <input name="result" value="lost" style="display: none;"> 
            <button onclick="play()" >Next!</button>
            </form>
        </div>

    {{!-- <a href="/">atras</a> --}}
</main>


