<main id="profile" class="snip1217">

<h1>{{currentUserInfo.name}}'s Questions</h1>



{{#if updated}}
<p>{{updated}}</p>
{{/if}}

       
{{#if userQuestions}}


    {{#each userQuestions}}

    <h3> {{updated}}  </h3> 
    <h3>{{question}}</h3>
    <a href="/editquestion/{{_id}}" class="enlace" onclick="play()">Edit question</a>

    {{/each}}

{{/if}}


</main>