<main id="profile">

<h1>{{currentUserInfo.name}}'s profile</h1>



{{#if updated}}
<p>{{updated}}</p>
{{/if}}

       
{{#if userQuestions}}
<h2>Questions created: </h2>

    {{#each userQuestions}}

    <h3> {{updated}}  </h3> 
    <h3>{{question}}</h3>
    <a href="/editquestion/{{_id}}">Edit question</a>

    {{/each}}

{{/if}}


</main>